<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="{{ ASSETS_ROOT }}/img/favicon.png">
		<title>UnSQL</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="color-scheme" content="light only" />
		<meta name="description" content="Use AI to Talk to Your Database" />
		<meta property="og:site_name" content="UnSQL" />
		<meta property="og:title" content="UnSQL" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Use AI to Talk to Your Database" />
		<link href="https://fonts.googleapis.com/css2?display=swap&family=Manrope:ital,wght@0,400;1,400&family=Inter:ital,wght@0,300;0,600;1,300;1,600" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/noscript.css" /></noscript>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-7C50JY6F3V"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
		<!-- Nucleo Icons -->
		<link href="{{ ASSETS_ROOT }}/css/nucleo-icons.css" rel="stylesheet" />
		<link href="{{ ASSETS_ROOT }}/css/nucleo-svg.css" rel="stylesheet" />
		<!-- Font Awesome Icons -->
		<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
		<link href="{{ ASSETS_ROOT }}/css/nucleo-svg.css" rel="stylesheet" />
		<!-- CSS Files -->
		<link id="pagestyle" href="{{ ASSETS_ROOT }}/css/soft-ui-dashboard.css?v=1.0.8" rel="stylesheet" />
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-7C50JY6F3V"></script>
		
		<script>
		
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-7C50JY6F3V');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-TRQ8JNP');</script>
			<!-- End Google Tag Manager -->
	
	
	</head>
	<!-- Google tag (gtag.js) -->
	{% include "includes/navigation.html" %}
	<body class="is-loading">
		
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRQ8JNP"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
		<div id="wrapper">
			<div id="main" style="margin-top: -30px;">
				<div class="inner">
					<section id="home-section">
						<div id="container13" class="container columns full screen">
							<div class="wrapper">
								<div class="inner">
									<div>
										<hr id="divider01" class="style1">
										<h1 id="text12" class="style3">SQL just got 10x easier</h1>
										<p id="text13" class="style5">Chat with your databases in natural language</p>
										<ul id="buttons06" class="style1 buttons">
											<li>
												<a href="/login/" class="button n01"><svg><use xlink:href="{{ ASSETS_ROOT }}/img/icons.svg#arrow-right-alt-light"></use></svg><span class="label">Get Started</span></a>
											</li>
										</ul>
									</div>
									<div>
										<div id="embed01">
											<div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/ea06c81bf86742f29a8e6f2c6254c0ab?sid=5985cea4-9aec-4612-9a9e-f59193a1551d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="container04" class="style1 container default">
							<div class="wrapper">
								<div class="inner">
									<hr id="divider03" class="style1">
									<h2 id="text85" class="style4">How it Works</h2>
								</div>
							</div>
						</div>
						<div id="container01" class="container columns">
							<div class="wrapper">
								<div class="inner">
									<div>
										<div id="image18" class="style1 image" data-position="center">
											<span class="frame"><img src="{{ ASSETS_ROOT }}/images/image18.jpg" alt="" /></span>
										</div>
										<h3 id="text08" class="style6">Connect your database</h3>
										<p id="text09" class="style2">Connect your SQL based databases (Postgres, MySQL, SQLite, and more)</p>
									</div>
									<div>
										<div id="image04" class="style1 image" data-position="center">
											<span class="frame"><img src="{{ ASSETS_ROOT }}/images/image04.jpg" alt="" /></span>
										</div>
										<h3 id="text14" class="style6">Ask Questions</h3>
										<p id="text15" class="style2">We feed your database schema to the AI so your results are relevant and ready to run SQL statements</p>
									</div>
									<div>
										<div id="image05" class="style1 image" data-position="center">
											<span class="frame"><img src="{{ ASSETS_ROOT }}/images/image05.jpg" alt="" /></span>
										</div>
										<h3 id="text02" class="style6">See Results</h3>
										<p id="text05" class="style2">Run the SQL, and see the results!</p>
									</div>
								</div>
							</div>
						</div>
						<hr id="divider08" class="style2">
						<div id="container07" class="style1 container default">
							<div class="wrapper">
								<div class="inner">
									<hr id="divider10" class="style1">
									<h2 id="text11" class="style4">Use Cases</h2>
								</div>
							</div>
						</div>
						<div id="container14" class="container columns">
							<div class="wrapper">
								<div class="inner">
									<div>
										<div id="image02" class="style2 image">
											<span class="frame"><img src="{{ ASSETS_ROOT }}/images/image02.jpg" alt="" /></span>
										</div>
										<h3 id="text01" class="style6">Faster Development</h3>
										<p id="text84" class="style2">We made this tool to help you easily work with your own test databases. It lets you look at your databases fast, without needing to create and check complicated queries by yourself.</p>
									</div>
									<div>
										<div id="image01" class="style2 image">
											<span class="frame"><img src="{{ ASSETS_ROOT }}/images/image01.jpg" alt="" /></span>
										</div>
										<h3 id="text04" class="style6">Non-Technical Friendly</h3>
										<p id="text22" class="style2">Help your non-technical team members use the database solo.</p>
									</div>
								</div>
							</div>
						</div>
						<hr id="divider06" class="style2">
						<div id="container02" data-scroll-id="pricing" data-scroll-behavior="previous" data-scroll-offset="0" data-scroll-speed="3" data-scroll-invisible="1" class="container columns">
							<div class="wrapper">
								<div class="inner">
									<div>
										<hr id="divider11" class="style1">
										<h3 id="text16" class="style6">Early Adopter</h3>
										<h1 id="text06" class="style3">$25/mo</h1>
										<div id="list01" class="style1 list"><ul><li><p>Unlimited Chats</p></li><li><p>Unlimited Database Connections</p></li><li><p>Email Support</p></li><li><p>Cancel Anytime</p></li></ul></div>
										<ul id="buttons02" class="style1 buttons">
											<li>
												<a href="/login/" class="button n01"><svg><use xlink:href="{{ ASSETS_ROOT }}/img/icons.svg#arrow-right-alt-light"></use></svg><span class="label">Sign Up</span></a>
											</li>
										</ul>
									</div>
									<div>
										<hr id="divider05" class="style1">
										<h3 id="text60" class="style6">On Premises</h3>
										<h1 id="text10" class="style3">$999/mo</h1>
										<div id="list02" class="style1 list"><ul><li><p>Everything in Early Adopter</p></li><li><p>Have security requirements? We will install directly within your network so no data leaves the premises.</p></li><li><p>Join our healthcare friends! This option is great for companies with sensitive data, or internal security requirements</p></li><li><p>Premium Support</p></li><li><p>Installation Support Available</p></li></ul></div>
										<form id="form01" method="post" action="#" class="style1">
											<div class="inner">
												<div class="field">
													<input type="email" name="email" id="form01-email" placeholder="Email" maxlength="128" required />
												</div>
												<div class="actions">
													<button type="submit"><svg><use xlink:href="{{ ASSETS_ROOT }}/img/icons.svg#arrow-right-alt-light"></use></svg><span class="label">Sign Up</span></button>
												</div>
											</div>
											<input type="hidden" name="id" value="form01" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section id="done-section">
						<div id="container06" class="style1 container default">
							<div class="wrapper">
								<div class="inner">
									<hr id="divider04" class="style1">
									<h2 id="text24" class="style4">Thank you!</h2>
									<p id="text66" class="style2"><span class="p">We are having a lot of requests, so we will get back to you as soon as possible!</span><span class="p">Feel free to reach out to sales@unsql.ai</span></p>
									<ul id="buttons01" class="style1 buttons">
										<li>
											<a href="#home" class="button n01"><svg><use xlink:href="{{ ASSETS_ROOT }}/img/icons.svg#arrow-right-alt-light"></use></svg><span class="label">Continue</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<script src="{{ ASSETS_ROOT }}/js/main.js"></script>
		<script>
			const typebotInitScript = document.createElement("script");
			typebotInitScript.type = "module";
			typebotInitScript.innerHTML = `import Typebot from 'https://cdn.jsdelivr.net/npm/@typebot.io/js@0.1/dist/web.js`

			Typebot.initBubble({
			typebot: "query-grunt-support",
			previewMessage: {
				message: "Let me know if you need any help!",
				avatarUrl:
				"https://s3.fr-par.scw.cloud/typebot/public/typebots/vlg8cbbzu38x0g61jiv5d5j6/hostAvatar?v=1689542348622",
			},
			theme: {
				button: { backgroundColor: "#0042DA", iconColor: "#FFFFFF" },
				previewMessage: { backgroundColor: "white", textColor: "black" },
			},
			});
			`;
			document.body.append(typebotInitScript);
		</script>
	</body>
</html>